h1 Add Task For To Do List!

form(method="POST", action="/ToDo")
  p Task:
    input#name(type="text", name="name")
  p: button(type="submit") Add to List

form(action="/ToDo")
  p: button(type="submit") Nevermind
